<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.focofacil">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NOTIFICATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
    tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.NOTIFICATION"
    />
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FocoFacil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoBar"
        tools:targetApi="34">
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NavActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Activity.EditarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditarNomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditarEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VerificarEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RecuperarSenhaActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.NoBar">

        </activity>
        <activity
            android:name=".Activity.CadastrarActivity"
            android:exported="false"
            android:theme="@style/Theme.NoBar" />
        <activity
            android:name=".Activity.MainMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.NoBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.CadastrarDiaFragment"
            android:exported="false" />



        <receiver android:name=".BroadcastReceiver.NotificationReceiver"/>
        <receiver android:name=".BroadcastReceiver.WeeklyReceiver" />
        <receiver android:name=".BroadcastReceiver.DailyReceiver" />
        <receiver android:name=".BroadcastReceiver.AlarmReceiver" />

    </application>

</manifest>